<div class="container">
  <div class="row">
    <div id="LOGO" class="col-sm" (click)="seeMore('logo')"><p>LOGO</p></div>
    <div id="BANNIERE" class="col-sm" (click)="seeMore('banniere')"><p>BANNIERE</p></div>
  </div>
  <div class="row">
    <div id="PEINTURE" class="col-sm" (click)="seeMore('peinture')"><p>PEINTURE NUMERIQUE</p></div>
  </div>
  <div class="row">
    <div id="INTRO" class="col-sm" (click)="seeMore('intro')"><p>INTRO</p></div>
    <div id="COMPOSITION" class="col-sm" (click)="seeMore('composition')"><p>COMPOSITION/DIVERS</p></div>
    <div id="DESSIN" class="col-sm" (click)="seeMore('dessin')"><p>DESSIN</p></div>
  </div>
</div>
